<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
 		 <typeAlias alias="Emp" type="com.emp.server.model.Emp"/>
    </typeAliases>
    <mappers>
        <mapper resource="mybatis/mapper/emp-mapper.xml"/>
    </mappers>
</configuration>